<div class="container">
  <h1>Customer List</h1>

  <div class="d-flex justify-content-end">
    <a href="#" routerLink="/customer/create/" class="btn btn-success">Create New Customer</a>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Website Url</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.name }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.website_url }}</td>
      <td>
        <a href="#" [routerLink]="['/customer/', customer.id, 'addWork']" class="btn btn-primary">Add Work</a>
        <a href="#" [routerLink]="['/customer/', customer.id, 'edit']" class="btn btn-primary">Edit</a>
        <button type="button" (click)="deleteCustomer(customer.id)" class="btn btn-danger">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
