<body class="d-flex min-vh-100 align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="text-center">
          <h1>Update Portfolio</h1>
        </div>

        <form [formGroup]="form">

          <div class="form-floating mb-3">
            <input
              formControlName="title"
              id="title"
              type="text"
              class="form-control"
              placeholder="title"
            >
            <label for="title">Title</label>
            <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
              <div *ngIf="f['title'].errors && f['title'].errors['required']">title is required</div>
            </div>
          </div>

          <div class="form-floating mb-3">
              <input
                formControlName="description"
                id="description"
                type="text"
                class="form-control"
                placeholder="description"
              >
            <label for="description" class="form-label col-form-label">Description</label>

            <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
              <div *ngIf="f['description'].errors && f['description'].errors['required']">description is required</div>
            </div>
          </div>

              <div class="form-group col">
                <button class="btn btn-primary mt-1 col-lg-12" type="submit" (click)="submit()" [disabled]="!form.valid">Update</button>
              </div>
        </form>

      </div>
    </div>
  </div>
</body>
