<div class="container">
  <h1>Update Portfolio</h1>

  <form [formGroup]="form">

    <div class="form-group">
      <label for="title">Title:</label>
      <input
        formControlName="title"
        id="title"
        type="text"
        class="form-control">
      <div *ngIf="f['title'].touched && f['title'].invalid" class="alert alert-danger">
        <div *ngIf="f['title'].errors && f['title'].errors['required']">Title is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input
        formControlName="description"
        id="description"
        type="text"
        class="form-control">
      <div *ngIf="f['description'].touched && f['description'].invalid" class="alert alert-danger">
        <div *ngIf="f['description'].errors && f['description'].errors['required']">Description is required.</div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit" (click)="submit()" [disabled]="!form.valid">Update</button>
  </form>
</div>
